@import '../base/module';

.btn-gray {
  @extend .btn-info;

  background-color: $consensus-gray;
  border-color: $consensus-gray;
  font-size: 18px;
}

.btn-gray:hover, .btn-gray:active {
  background-color: $consensus-green;
  border-color: $consensus-green;
}

.btn-green {
  @extend .btn-info;

  background-color: $consensus-green;
  border: none;
}

.btn-green:hover, .btn-green:active {
  background-color: $consensus-gray;
  border: none;
}
