@import '../base/module';
//handles styling the paper list
.paper-list {
  h1 {
    padding-bottom: 15px;
  }
  .vote-count {
    .count {
      @extend .text-center;
      font-size: 22px;
    }
  }

  .consensus-percent {
    .percent {
      @extend .text-center;
      font-size: 22px;
    }
  }

  .sublabel {
    @extend .text-center;
    color: $consensus-gray;
    font-size: 12px;
  }


}
