//put color variables and global color selectors here
$consensus-gray: #aaa;
$consensus-green: #43ce0b;
$consensus-green-dark: #33a008;
$header-background: #f8f8f8;
$container-edge: #e7e7e7;
//background color on normal pages
$background-color: #fff;

//invert the header and background colors
body {
  background: $background-color;
}
body.inverted-page {
  background: $header-background;
}
